{{#partial "title" }}
    Sighting
{{/partial}}


{{#partial "content"}}
{{#each animal}}
    <div class="container">
        <div class="sighting">
            <table class="table  table-dark">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Ranger Name</th>
                    <th scope="col">Animal Name</th>
                    <th scope="col">Animal Type</th>
                    <th scope="col">Age</th>
                    <th scope="col">Health</th>
                    <th scope="col">Location</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{ranger}}</td>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                    <td>{{age}}</td>
                    <td>{{health}}</td>
                    <td>{{location}}</td>
                </tr>
                </tbody>
            </table>

            </div>
    </div>

{{/each}}
{{/partial}}

{{> layout.hbs}}