{{#partial "title" }}
    Sighting
{{/partial}}


{{#partial "content"}}
    <h1>Sightings</h1>
{{#each animal}}
    <div class="sighting">
            <h3>Ranger Name:{{ranger_name}}</h3>
            <h3>Animal Name:{{animal_name}}</h3>
            <h3>Age:{{age}}</h3>
            <h3>Health:{{health}}</h3>
            <h3>Location:{{location}}</h3>

        </div>
{{/each}}

{{/partial}}

{{> layout.hbs}}